p,ul {
  border: 2px solid #882FFA;
  background-color: rgba(0, 128, 0, 0.3);
  opacity: 1;
  padding: .5em;
}

li {
  border: 2px solid blue;
  padding: .5em;
}

ul {
  display: flex;
  list-style: none;
}

.block {
  display: block;
}  

p2,ul {
  border: 2px solid #333333;
  background-color: rgba(2, 120, 70, 0.3);
  padding: .5em;
}
p3 {
  border: 2px solid #333333;
  padding: .5em;
}
table, th, td {
  border: 1px solid black;
}
      .center {
  margin-left: auto;
  margin-right: auto;
}